$beige: #FEF8E9;
$purple: #7972BF;
$gray-purple: #B8ABCA;
$black: #020202;
$light-gray: #ddd;
$white: #fff;

// gap
$gap: 20px;

// z-index
$header-z-index: 10;

$primary: $purple;

$background-color: $beige;
$text-color: $black;