$beige: #FEF8E9;
$purple: #7972BF;
$gray-purple: #B8ABCA;
$black: #020202;
$light-gray: #ddd;
$dark-gray: #4C4D4A;
$white: #fff;
$black: #303133;

// gap
$gap: 20px;

// z-index
$header-z-index: 10;

// size
$header-height: 80px;

// $radius
$radius: 10px;
$radius-xs: 4px;

$primary: $purple;

$background-color: $beige;
$text-color: $black;